.pano-view {
  height: 100%;
  width: 100%;
}

.loading-text {
    position: absolute;
    color: white;
    margin-left: 47.5%;
    margin-top: 7%;
}

.loading-section {
    text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .loading {
    font-size: 40px;
    animation: App-logo-spin infinite 1s linear;
    color: white;
    position: absolute;
    margin-left: 50%;
    margin-top: 10%;
    
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
