.plan {
    background-image: url("../textures/plan_z-01.jpg");
    margin: 0;
    position:absolute;
    width: 100vw;
    background-size: 100vw;
    top: 0;
    left: 0; 
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
  }
  .info {
    margin: 0;
    position:absolute;
    width: 100vw;
    background-size: 100vw;
    top: 0;
    left: 0; 
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    transition-duration: .8s;
    opacity: 0;
    
  }
  .info:active {
    outline: none;
    border: none;
  }
  
  .infoButton {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: rgba(255, 0, 0, 0);
    cursor: pointer;
    outline: none;
    border: none;
  }
  .infoButton:active {
    outline: none;
    border: none;
  }

  .pano {
      position: relative;
       height: 100px;
  }

  .main {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100000;
  }
  
  
  
  